@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
   line-height: 1.5;
   font-weight: 400;
   color: rgba(255, 255, 255, 0.87);
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

@property --border-angle {
   inherits: false;
   initial-value: 0deg;
   syntax: '<angle>';
}

@layer utilities {
   /* Hide scrollbar for Chrome, Safari and Opera */
   .no-scrollbar::-webkit-scrollbar {
      display: none;
   }
   /* Hide scrollbar for IE, Edge and Firefox */
   .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
   }
}

@layer base {
   body {
      @apply bg-[#0E0F19];
   }

   .font-ibm {
      font-family: 'IBM Plex Sans', sans-serif;
   }

   /* Chrome, Safari, Edge, Opera */
   input::-webkit-outer-spin-button,
   input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
   }

   .clip-hexa {
      --hexagon-size: 36px; /* Adjust the size as needed */
      --hexagon-border-radius: 11px; /* Adjust the border radius as needed */
      width: var(--hexagon-size);
      height: calc(var(--hexagon-size) * 0.366); /* Ensures correct height for hexagon */
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      border-radius: var(--hexagon-border-radius);
   }

   /* Firefox */
   input[type='number'] {
      -moz-appearance: textfield;
   }

   .layout {
      /* 1100px */
      max-width: 78.75rem;
      @apply mx-auto w-11/12;
   }

   .layout-dashboard {
      max-width: 88.75rem;
      @apply mx-3 w-full md:mx-auto;
   }

   .layout-main {
      max-width: 99.75rem;
      @apply mx-auto w-[96.99%]  lg:w-[98.99%]   2xl:w-11/12;
   }

   .border-animate-wrapper {
      @apply relative overflow-hidden bg-[#1d1e2a];
   }

   .border-animate-wrapper:before {
      background: conic-gradient(
         rgb(255, 255, 255) 0deg,
         rgba(242, 63, 93, 1) 0deg,
         transparent 100deg
      );

      @apply absolute left-[-20%] top-[-20%] h-[150%] w-[150%] animate-border-spin content-[''];
   }

   .border-animate-content {
      @apply absolute bottom-[2px] left-[2px] right-[2px] top-[2px];
   }

   .animate-border {
      animation: border-animation 3s linear infinite;
   }

   .border-container {
      width: 100%;
      max-width: 422px;
      animation: border-animation 4s linear infinite;
      -webkit-animation: border-animation 4s linear infinite;
      background:
         linear-gradient(0deg, #0e0f19, #0e0f19, #0e0f19) padding-box,
         conic-gradient(
               from var(--border-angle),
               #20212b80 80%,
               #f23f5db9 90%,
               #f23f5d 100%,
               #f23f5de8 94%,
               #20212b75 4%
            )
            border-box;
      border-radius: 1rem;
      border: 1px solid transparent;
   }

   @-webkit-keyframes border-animation {
      0% {
         --border-angle: 0deg;
      }
      100% {
         --border-angle: 360deg;
      }
   }

   @keyframes border-animation {
      0% {
         --border-angle: 0deg;
      }
      100% {
         --border-angle: 360deg;
      }
   }

   .gradient_1 {
      position: absolute;
      left: 55%;
      margin-top: 55rem;
      transform: translate(-50%, -50%);
      border-radius: 46% 54% 70% 30% / 30% 51% 49% 70%;
      filter: blur(100px);
      background: #f23f5d;
      background: linear-gradient(90deg, #f23f5d22, #941d3114);
   }

   #tsparticlessnowSecond {
      height: 600px;
   }

   .absolute-center {
      left: 50%;
      top: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
   }

   .gradient_border {
      background: rgba(242, 63, 93, 1);
      background: radial-gradient(circle, rgb(255, 159, 175) 0%, rgba(0, 212, 255, 0) 29%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fe9f00",endColorstr="#00d4ff",GradientType=1);
   }

   .gradient_border_long {
      background: rgba(242, 63, 93, 1);
      background: radial-gradient(circle, rgba(242, 63, 93, 1) 0%, rgba(0, 212, 255, 0) 75%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fe9f00",endColorstr="#00d4ff",GradientType=1);
   }

   .gradient_2 {
      position: absolute;
      top: -10%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 46% 54% 70% 30% / 30% 51% 49% 70%;
      filter: blur(100px);
      background: #f23f5d;
      background: linear-gradient(45deg, #f23f5d4e, #f23f5d42);
   }

   .gradient_3 {
      position: absolute;
      bottom: -60%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 46% 54% 70% 30% / 30% 51% 49% 70%;
      filter: blur(100px);
      background: #f23f5d;
      background: linear-gradient(45deg, #f23f5d60, #f23f5d3f);
   }

   .gradient_red {
      position: absolute;
      border-radius: 46% 54% 70% 30% / 30% 51% 49% 70%;
      filter: blur(100px);
      background: #f23f5d;
      background: linear-gradient(45deg, #f23f5d60, #f23f5d3f);
   }

   .animation-ping {
      animation: scaleSquare 2s ease-in infinite;
   }

   .bar {
      animation: heightChange 0.5s infinite alternate;
   }

   @keyframes heightChange {
      0% {
         height: var(--height); /* Start at the specified height */
      }
      100% {
         height: calc(var(--height) + 40px); /* Increase height by 20px */
      }
   }

   @keyframes scaleSquare {
      0% {
         transform: scale(1);
      }
      50% {
         transform: scale(1.2);
      }
      100% {
         transform: scale(1);
      }
   }
}

.tradingview-widget-copyright {
   display: none !important;
}
